<!DOCTYPE html>
<html>
<title>Remote Dryland</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
  background-color: darkblue;
  min-height: 100%;
  background-position: center;
  background-size: cover;
}
.w3-jumbo {
  text-align:center;
}
</style>
<body>

<div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-topleft w3-padding-large w3-xlarge">
    Remote Dryland
  </div>
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" id="set"></h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <h1 class="w3-jumbo" id="timer"></h1>
    <p class="w3-large w3-center" id="next"></p>
  </div>
</div>

<script>
  var name = "{{ name }}";
  var current_set = "{{ current_set }}";
  var time_remaining = "{{ time_remaining }}";
  var work_out = {{ work_out|tojson }}
</script>

<script type="application/json" src="{{ url_for('static', filename = 'work_outs_new.json') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'work_out.js') }}"></script>

</body>
</html>












